<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %> <%- include("./partials/header.ejs")
  %>
  <body>
    
   <%- include("./partials/header.ejs") %> <%- include("./partials/nav.ejs")%>
   
   <body>
     <div class="blogs content">
       <h2>all blogs</h2>
       <% if(blogs.length>0){ %> <% blogs.forEach(blog=> { %>
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
        <%}) %> <% } else{ %>
          <p>no blogs available my friend</p>
          <% } %>
        </div>

        <%- include("./partials/header.ejs") %> <%- include("./partials/footer.ejs")%>
  </body>
</html>
